In [67]:
import pandas as pd
import numpy as np

In [68]:
M = pd.read_csv('Movie Reviews - Sheet1.csv', index_col='Name')

In [69]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [70]:
M

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Mike,NaN,NaN,5,NaN,4,NaN,3,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2
HJ SONG,NaN,2,3,4,4,5,NaN,4,4,5,5,NaN,NaN,NaN,5,5
Ryan Hansen,NaN,3,4,3,5,2,3,3,3,NaN,5,NaN,3,NaN,NaN,NaN
Olumuyiwa Durojaiye,NaN,NaN,NaN,NaN,NaN,5,NaN,5,2,NaN,3,NaN,NaN,NaN,NaN,2
Charlie,NaN,2,3,NaN,3,2,3,NaN,4,5,2,NaN,2,3,NaN,2
Sina Tuy,NaN,3,4,3,5,2,3,4,3,NaN,3,4,3,2,NaN,2
Pavithra Shetty,NaN,3,NaN,NaN,4,5,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
Sara Collins,NaN,5,5,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN
Jonathan Doll,NaN,4,NaN,3,4,2,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
saikiran reddy,3,4,4,NaN,4,5,4,NaN,5,5,4,4,2,5,NaN,2
Aishwarya reddy,NaN,3,4,3,4,4,3,NaN,4,4,3,5,NaN,4,NaN,3
Brant Mullinix,NaN,4,4,4,5,3,NaN,NaN,NaN,5,3,3,NaN,NaN,NaN,4
Sai Sampath,NaN,3,4,3,4,4,3,NaN,4,4,3,5,NaN,4,NaN,3
Suyendra,NaN,3,4,3,5,2,3,3,3,NaN,5,NaN,3,4,2,5
Sai Yallapragada,5,2,2,3,NaN,3,NaN,NaN,1,5,NaN,NaN,2,NaN,NaN,4
Akhilesh,NaN,NaN,4,3,5,4,NaN,NaN,NaN,5,NaN,3,NaN,NaN,NaN,5
Sundar Prasad,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,4
Evan Piercy,4,NaN,NaN,4,NaN,4,NaN,NaN,NaN,5,NaN,2,NaN,NaN,NaN,2
Jessica Fong,NaN,3,3,NaN,NaN,3,NaN,NaN,NaN,5,NaN,NaN,5,NaN,NaN,NaN
Onsiri Tapsarn,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN
Anirudh Thota,NaN,3,4,3,3,4,NaN,NaN,3,4,3,NaN,NaN,NaN,NaN,4
Greg Werner,5,3,3,NaN,NaN,4,4,NaN,NaN,5,4,5,4,NaN,NaN,4
Violeta Lee Fay,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5,NaN,3,NaN,NaN,NaN,NaN,2

In [71]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

What movie is most Similar to 'The fault in our stars'

In [72]:
M.shape

(23, 16)

In [73]:
recs = get_recs('The Fault in Our Stars', M, 10)

In [74]:
recs[:1]

[('Transformers', 0.45574896698689149)]

In [75]:
recs[:5]

[('Transformers', 0.45574896698689149),
 ('The Hunger Games: Mockingjay - Part 1', 0.35345113364519332),
 ('How to Train your Dragon 2', 0.31922063429064507),
 ('Godzilla', 0.28158585271367448),
 ('Malificent', 0.25203347226782336)]

By comparing the above result we can say that similar film to the fault in the stars is Transformers

# Which movie(s) would you most like to see, based on your classmates experience?

In [85]:
#the movies I've seen
my_ratings = M.ix['saikiran reddy'].dropna()
#the movie I've rated the highest
my_ratings.sort(ascending=False)
#the name of the movie I've rated the highest
fav_movie = my_ratings.index[1]

In [86]:
print "Saikiran favorite movie is:"
fav_movie

Saikiran favorite movie is:

'Interstellar'

In [87]:
recs = get_recs(fav_movie, M, 10)
recs[:10]

[('The Lego Movie', 0.44444444444444442),
 ('The Hobbit', 0.32106919647970833),
 ('How to Train your Dragon 2', 0.24404676504598821),
 ('Malificent', 0.22510108414730307),
 ('Unbroken', 0.11785113019775792),
 ('American Sniper', 0.083333333333333329),
 ('300: Rise of an Empire', 0.042874646285627219),
 ('Big Hero 6', 0.019920476822239911),
 ('Divergent', 0.0),
 ('The Hunger Games: Mockingjay - Part 1', -0.04003203845127179)]

In [88]:
anti_recs = get_recs('300: Rise of an Empire', M, 25)

In [89]:
anti_recs[-10:]

[('Interstellar', 0.042874646285627219),
 ('The Lego Movie', 0.018374848408125945),
 ('Gone Girl', 0.0026418811480546814),
 ('Unbroken', 0.0),
 ('Malificent', -0.022299503865922835),
 ('Transformers', -0.034828748382057691),
 ('The Hunger Games: Mockingjay - Part 1', -0.13779914752061276),
 ('Godzilla', -0.21513245763527367),
 ('Guardians of the Galaxy', -0.2307064300131369),
 ('Big Hero 6', -0.34700188325127984)]

# For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews?

In [90]:
UnRated_Movies = M.ix['saikiran reddy']
UnRated_Movies.sort()
for i in range(0, UnRated_Movies.count(), 1):
    UnRated_Movies.drop(UnRated_Movies.index[0], inplace=True)

In [91]:
UnRated_Movies

The Lego Movie   NaN
Big Hero 6       NaN
Unbroken         NaN
Name: saikiran reddy, dtype: float64

comparing the correlation between me and my classmates

In [92]:
a= []
for i in range(0, 22, 1): 
    cor=pearson(M.ix[9], M.ix[i])
    print "(" + M.index[9] + " , " + M.index[i] + ") :", cor
    print "Correlation coefficient for :"
    a.append(cor)

(saikiran reddy , Mike) : 0.439155032827
Correlation coefficient for :
(saikiran reddy , HJ SONG) : -0.0194261215411
Correlation coefficient for :
(saikiran reddy , Ryan Hansen) : -0.0900728429755
Correlation coefficient for :
(saikiran reddy , Olumuyiwa Durojaiye) : 0.263846520657
Correlation coefficient for :
(saikiran reddy , Charlie) : 0.537664912331
Correlation coefficient for :
(saikiran reddy , Sina Tuy) : 0.00898805364123
Correlation coefficient for :
(saikiran reddy , Pavithra Shetty) : 0.125809069935
Correlation coefficient for :
(saikiran reddy , Sara Collins) : 0.0
Correlation coefficient for :
(saikiran reddy , Jonathan Doll) : -0.196931590361
Correlation coefficient for :
(saikiran reddy , saikiran reddy) : 1.0
Correlation coefficient for :
(saikiran reddy , Aishwarya reddy) : 0.349989409523
Correlation coefficient for :
(saikiran reddy , Brant Mullinix) : -0.00107529119603
Correlation coefficient for :
(saikiran reddy , Sai Sampath) : 0.349989409523
Correlation coefficient for :
(saikiran reddy , Suyendra) : -0.256578842909
Correlation coefficient for :
(saikiran reddy , Sai Yallapragada) : -0.139087160066
Correlation coefficient for :
(saikiran reddy , Akhilesh) : -0.115123317683
Correlation coefficient for :
(saikiran reddy , Sundar Prasad) : 0.340692571935
Correlation coefficient for :
(saikiran reddy , Evan Piercy) : 0.453180323241
Correlation coefficient for :
(saikiran reddy , Jessica Fong) : -0.253937250092
Correlation coefficient for :
(saikiran reddy , Onsiri Tapsarn) : nan
Correlation coefficient for :
(saikiran reddy , Anirudh Thota) : -0.0765559002351
Correlation coefficient for :
(saikiran reddy , Greg Werner) : 0.0376999044937
Correlation coefficient for :

In [113]:
def pred_rate(x, a):
    j=0
    k=0
    for i in range(0, 22, 1):
        if x.irow(i)>0 and a[i]>0: 
            j= j+(a[i]*x.irow(i))
            k= k+a[i]
        else:
            continue
    return j/k

In [114]:
for i in range(0, 2, 1): 
    x=M[UnRated_Movies.index[i]]
    rate=pred_rate(x, a)
    print UnRated_Movies.index[i] +": ", rate.round(1)

The Lego Movie:  3.4
Big Hero 6:  5.0